[Desktop Entry]
Name=Qogir ubuntu
X-KDE-PluginInfo-Name=Qogir-ubuntu
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
