[Desktop Entry]
Name=Qogir dark
X-KDE-PluginInfo-Name=Qogir-dark
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
