[Desktop Entry]
Name=Qogir manjaro dark
X-KDE-PluginInfo-Name=Qogir-manjaro-dark
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
