[Desktop Entry]
Name=Qogir manjaro
X-KDE-PluginInfo-Name=Qogir-manjaro
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
