[Desktop Entry]
Comment=Qogir-dark theme for kde plasma
Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Qogir-dark
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=com.github.vinceliuice.Qogir-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/vinceliuice/Qogir-kde
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1298431,kns://plasma-themes.knsrc/api.kde-look.org/1298357,kns://aurorae.knsrc/api.kde-look.org/1298366,kns://icons.knsrc/api.kde-look.org/1296407,kns://wallpaper.knsrc/api.kde-look.org/1308425,kns://sddmtheme.knsrc/api.kde-look.org/1311077
